---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}

{% assign sticky_posts = site.posts | where: "sticky", true %}

{% if paginator == nil or paginator.page == 1 %}
  {% if sticky_posts.size > 0 %}
    <h3 class="archive__subtitle">Pinned Posts</h3>
    <div class="entries-{{ entries_layout }}">
      {% include documents-collection.html entries=sticky_posts type=entries_layout %}
    </div>
  {% endif %}
{% endif %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign all_posts = paginator.posts %}
{% else %}
  {% assign all_posts = site.posts %}
{% endif %}

{% assign posts = all_posts %}

<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}